html {
    background-color: #000;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
}


body {
    margin: 0;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    font-size: 1.2rem;
    overflow-x: hidden;
    height: 100%;
}

.button {
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: #fff;
    padding: 8px;
}

.video-times {
    display: flex;
    align-items: center;
    pointer-events: none;
    overflow: hidden;
    user-select: none;
}

#first {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

#middle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
}

#bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 16px;
    right: 16px;
    bottom: 0;
    z-index: 1;
}

#play {
    color: rgb(255, 255, 255);
    fill: currentcolor;
    margin: 0 60px;
    height: 56px;
    width: 56px;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 4;
    margin: 0 40px;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.dialog {
    position: relative;
    z-index: 2;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-height: 100%;
    box-sizing: border-box;
    padding: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.3rem;
    color: #0f0f0f;
    border: none;
    min-width: 250px;
    max-width: 356px;
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fff;

}

.dialog-header {

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
}

.dialog-title {
    margin: 0 0 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.25;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 1.8rem;
    -webkit-line-clamp: initial;
    max-height: none;

}

.dialog-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;

}

.dialog-buttons {

    flex-shrink: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 12px;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);

}

input,
textarea {
    background-color: transparent;
    padding-bottom: 4px;
    outline: none;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
    font: inherit;
    color: #0f0f0f
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #606060;
    opacity: 1
}

input::placeholder,
textarea::placeholder {
    color: #606060;
    opacity: 1
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    min-height: 8.4rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px
}

input {
    border-bottom: 1px solid #737373;
    text-overflow: ellipsis
}

input:focus {
    margin-bottom: 0;
    border-bottom-width: 2px;
    border-bottom-color: #0f0f0f
}

#back {
    width: 36px;
    height: 36px;
    color: #fff;
    fill: currentColor;
}

#forward {
    width: 36px;
    height: 36px;
    color: #fff;
    fill: currentColor;
}

#second {
    color: rgb(255, 255, 255);
    opacity: 0.7;
}

.progress_bar_line {
    height: 43px;
    width: 100%;
    align-items: center;
    display: flex;
}

.progress_bar_background {
    position: absolute;
    height: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    width: 100%;
}

.progress_bar_loaded {
    position: absolute;
    height: 3px;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    width: 0.448738%;
}

.progress_bar_played {
    position: absolute;
    height: 3px;
    background-color: rgb(255, 0, 0);
}

.progress_bar_playhead_wrapper {
    position: absolute;
    z-index: 0;
}

.progress_bar_playhead_dot {
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}

.dialog-container {
    display: none;
}

.dialog-button {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
}

.dialog-input {
    width: 100%;
}
.video {
    position: absolute;
}
.delimiter {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin: 0 4px;
}
.bottom-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
